.gridbox h2, .gridbox h3 {
  color: var(--federal-blue);
}

.container {
  background-color: var(--antiflash-white);
  max-width: 500px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 2px 6px var(--copper);
  border-radius: 15px;
  color: var(--federal-blue);
  margin-bottom: 20px;
}

.container p {
  color: green;
}

.container h3 {
  color: var(--federal-blue);
}

.gridbox {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: fit-content;
}
.gridbox p {
  font-weight:500;
}

button{
  background-color: rgb(255, 232, 200);
  padding: 8px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 150px;
  margin: auto;
  border: 1px;

}
button:hover {
  background-color: rgb(247, 199, 140);
  color: var(--federal-blue);
}

.toggled {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.toggled h5 {
  margin: 2rem 1rem 0.25rem;
}

.toggled input {
  margin: 0.2rem auto 0.25rem;
}

input {
  padding: 5px;
  box-shadow: 0px 1px 4px var(--copper);
  font-size: 14px;
  border: 1px;
  border-radius: 8px;
  margin: 0px;
  margin-top: 8px;
  width: 240px;

}

.button {
  background-color: rgb(255, 232, 200);
  padding: 8px;
  width: fit-content;
  border-radius: 8px;
  border: 1px ;
  font-weight: bold;
  margin-left: 8px;

}

.alert {
  font-weight: 600;
  padding: 6px;
  margin-top: 5px;

}

.alert p {
  margin: 0;
  color: var(--federal-blue);

}
input[type="button"], input[type="submit"] {
  background-color: var(--federal-blue);
  color: var(--antiflash-white);
  font-size: 14px;
  box-sizing:content-box;
}

form input:hover[type="button"],form input:hover[type="submit"]  {
background-color:var(--federal-blue);
}

.changePassword {
  margin-bottom: 10px;
}

#CC {
  display: none;
}

#CC:checked + div {
  display: none;
}

label {
  font-weight: bold;
  background-color: rgb(255, 232, 200);
  padding: 8px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  width: 150px;
  margin: auto;
  border: 1px;
}

@media screen and (max-width: 600px) {
  .container {
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
  }

  h5 {
    width: 70%;
  }

  input {
    width: 70%;
  }
}
