body {
  color: #fff;
}

.container {
  background-color: rgb(253, 245, 235);
  max-width: 450px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 2px 6px rgb(1, 1, 21);
  border-radius: 15px;
  color: rgb(20,4,88);
  margin-bottom: 20px;
}
.gridbox {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: fit-content;
}
.gridbox p {
  font-weight:500;
}

button{
  background-color: rgb(255, 232, 200);
  padding: 8px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 150px;
  margin: auto;
  border: 1px;

}
button:hover {
  background-color: rgb(247, 199, 140);
  color: #0c095e;
}

.toggled {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  width: 240px;
  font-size: 14px;
  border: 1px;
  border-radius: 8px;
  margin: auto;
  margin-top: 8px;

}

.button {
  background-color: rgb(255, 232, 200);
  padding: 8px;
  width: fit-content;
  border-radius: 8px;
  border: 1px ;
  font-weight: bold;
  margin-left: 8px;

}

.alert {
  font-weight: 600;
  padding: 6px;
  margin-top: 5px;

}

.alert p {
  margin: 0;
  color: #0c095e;

}
input[type="button"], input[type="submit"] {
  background-color: #0c095e;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  
}
form input:hover[type="button"],form input:hover[type="submit"]  {
background-color:#090829;
}

.changePassword {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .container {
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
  }

  h5 {
    width: 70%;
  }

  input {
    width: 70%;
  }
}
