.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header img {
  width: 250px;
  padding: 0 15px;
}

.header #links {
  padding: 20px 40px;
  /* margin: 0 15px; */
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

.header #links a {
  text-decoration: none;
  color: var(--antiflash-white);
  font-weight: 400;
  font-size: 1.25rem;
  transition: color 0.4s ;
}

.header #links a:hover {
  color:var(--gold);
}

nav {
  padding:0;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    padding: 10px 15px;
  }

  .header img {
    width: 100%;
    padding: 10px;
  }

  #links {
    width: 100%;
    padding: 10px;
  }

  .header #links {
    grid-auto-flow: column;
    flex-direction: column;
  }
}
