
body{
  background-color: rgb(20,4,88);
}
.auth {
  background-color: rgb(253, 245, 235);
  max-width: 450px;
  margin:auto;
  padding: 20px;
  box-shadow: 0px 2px 6px rgb(1, 1, 21);
  border-radius: 20px;
}
.auth{
  margin-top: 70px;
}
.auth form {
  margin-bottom: 20px;
  align-items: center;
    justify-content: center;
    text-align: center;
}
.auth h2 {
  text-align: center;
  color: #1f1468;
}
input:hover {
  background-color: rgb(254, 254, 240);
}
.auth input[type="text"],
.auth input[type="email"],
.auth input[type="password"],
.auth input[type="date"],
.auth input[type="submit"],
.auth button {
  display: block;
  width: 430px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px;
  border-radius: 8px;
  font-size: 15px;
  box-shadow: 0px 1px 4px rgba(252, 224, 177, 0.884);
}
.auth input[type="text"]:focus,
.auth input[type="email"]:focus,
.auth input[type="password"]:focus,
.auth input[type="date"]:focus {
  outline: none;
  box-shadow: 0px 1px 8px rgba(136, 87, 22, 0.952);
}
.auth input[type="submit"] {
  background-color: #0c095e;
  color: rgb(249, 247, 228);
  width: 450px;
  cursor: pointer;
}
.auth input:hover[type="submit"] {
background-color:#0d0c3a;
}
.auth button {
  background-color: transparent;
  width: 450px;
  border: none;
  color: #333;
  cursor: pointer;
  text-decoration: underline;
}
.auth p {
  color: red;
}
.auth #slide {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  .auth {
    max-width: 90%;
    padding: 10px;
    border-radius: 5%;
    box-shadow: none;
    
  }
  .auth input[type="text"],
  .auth input[type="email"],
  .auth input[type="password"],
  .auth input[type="date"],
  .auth input[type="submit"],
  .auth button {
    width: 95%;
  }
  .auth input[type="submit"] {
    width: 100%;
  }
}

.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}
