body {
    background-color: rgb(20, 4, 88);
    text-align: center;
  }
  
  .table-container {
    display: flex;
    flex-direction: column;
    color: rgb(12, 5, 45);
    margin: 50px auto;
    max-width: 700px;
    border-radius: 3%;
    overflow: hidden;
    box-shadow: rgb(4, 4, 40);
  }
  
  .table {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-collapse: collapse;
  }
  
  thead td {
    background-color: rgb(57, 54, 148);
    font-weight: 600;
    color: aliceblue;
    padding: 11px;
    width: 266.725px;
  }
  #tablehead {
    background-color: rgb(10, 3, 39); 
  }
  tbody td {
    border-bottom: 1px solid rgba(206, 214, 244, 0.9);
    padding: 10px;
    width: 266.725px;
  }
  
  .table-wrapper {
    background-color: rgb(20, 4, 88);
    width: 100%;
    max-height: 400px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  .table-wrapper::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
  }
  
  .table tbody tr:hover {
    background-color: rgb(231, 231, 252);
  }
  
  @media screen and (max-width: 600px) {
    .table-container {
      margin: 10px;
      width: fit-content;
    }
  
    .table thead,
    .table td {
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 10px;
    }
  }
  